<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <a [routerLink]="['']" class="btn">Home</a>
      <a [routerLink]="['services']" class="btn">Services</a> 
      <a [routerLink]="['career']" class="btn">Career</a>
      <a [routerLink]="['technology']" class="btn">Technology</a>
      <a [routerLink]="['portfolio']" class="btn">Portfolio</a>
      <a [routerLink]="['clients']" class="btn">Clients</a>
      <a [routerLink]="['portfolio']" class="btn">Portfolio</a>
      <a [routerLink]="['contact']" class="btn">Contact</a>
      </div>
    </nav>   

<app-services></app-services>

<!--<div id="container">
  <router-outlet></router-outlet>
</div>-->



