  {{title}}
<script src="assets/yourJavascript.js"></script>
  

   <!-- Fixed navbar   -->
  <nav id="header" class="navbar navbar-fixed-top">
  <div id="header-container" class="container navbar-container">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">   -->

      <a [routerLink]="['']" class="btn">Home</a>
       <a [routerLink]="['services']" class="btn">Services</a> 
      <a [routerLink]="['career']" class="btn">Career</a>
      <a [routerLink]="['technology']" class="btn">Technology</a>
      <a [routerLink]="['portfolio']" class="btn">Portfolio</a>
      <a [routerLink]="['clients']" class="btn">Clients</a>
      <a [routerLink]="['portfolio']" class="btn">Portfolio</a>
      <a [routerLink]="['contact']" class="btn">Contact</a>
       
     
       <!-- </button> -->
    </div></div>
</nav>   

<app-services></app-services>

<!--<div id="container">
  <router-outlet></router-outlet>
</div>-->



