/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";


 /* body{
     background: url("http://mdbootstrap.com/images/regular/city/img%20(17).jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.7);
  
} */

.navbar {
  background: crimson;
}

.navbar>.container-fluid {
  display: -webkit-box;
  
}

.container-fluid a{
  color: #fff;

}