<!--<p>
  home works!
</p>
  <div class="social-buttons">
    <a href="#" class="social-button facebook">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="#" class="social-button twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="#" class="social-button google">
      <i class="fa fa-google"></i>
    </a>
    <a href="#" class="social-button dribbble">
      <i class="fa fa-dribbble"></i>
    </a>
    <a href="#" class="social-button skype">
      <i class="fa fa-skype"></i>
    </a>

    <a href="#" class="social-button skype">
      <i class="fa fa-skype"></i>
      <a data-pin-do="buttonBookmark" data-pin-lang="en" data-pin-save="true" href="https://www.pinterest.com/pin/create/button/"></a>
    </a>
    
     <a href="#" class="social-button youtube">
      <i class="fa fa-youtube"></i>
        <script src="https://apis.google.com/js/platform.js"></script>
		<div class="g-ytsubscribe" data-channel="arionsoft technologies" data-layout="default" data-count="hidden"></div>
    </a>
  </div>-->


<!--<daypilot-calendar></daypilot-calendar>-->


